<?xml version="1.0" encoding="UTF-8"?>
<java version="1.6.0_11" class="java.beans.XMLDecoder">
	<object class="com.yanpeng.ssweb.entity.config.Config">
		<!-- 每页显示数量 -->
		<void property="pageSize">
			<int>10</int>
		</void>
		<!-- 新闻上传图片路径 -->
		<void property="newsPicPath">
			<string>/upload/news/pic</string>
		</void>	
		<!-- 新闻生成静态页路径 -->
		<void property="newsHtmlPath">
			<string>/upload/news/html</string>
		</void>			
 </object> 
</java> 
