<?xml version="1.0" encoding="UTF-8"?>
<java version="1.6.0_11" class="java.beans.XMLDecoder">
	<object class="com.yanpeng.ssweb.entity.config.Config">
		<!-- 每页显示数量 -->
		<void property="pageSize">
			<int>10</int>
		</void>
		<!-- 新闻上传图片路径 -->
		<void property="newsPicPath">
			<string>/upload/news/pic</string>
		</void>	
		<!-- 新闻生成静态页路径 -->
		<void property="newsHtmlPath">
			<string>/news/html</string>
		</void>	
		<!-- 新闻生成静态页模板 -->
		<void property="newsHtmlTemplate">
			<string>news.ftl</string>
		</void>	
		<!-- 产品上传图片路径 -->
		<void property="prodcutPicPath">
			<string>/upload/product/pic</string>
		</void>	
		<!-- 产品生成静态页路径 -->
		<void property="productHtmlPath">
			<string>/product/html</string>
		</void>	
		<!-- 产品生成静态页模板 -->
		<void property="productHtmlTemplate">
			<string>product.ftl</string>
		</void>	
		<void property="backupPath">
			<string>../../backup</string>
		</void>			
 </object> 
</java> 
