#menu {
	font-family: ו;
	font-size: 9pt;
	font-color:#000000
	text-align:center;
	list-style:none;
	line-height:22px; /* height of level 1 menu */
	background:url(../images/rootMenuBackground.gif) repeat;  
	padding:0px;
	margin:0px;
	border:0px solid blue;  /*border-right: 0px;*/
	width:100%;
	height:29px;
}

#menu ul {
	float:right;
	list-style:none;
	line-height:22px;
	background: #DDF2FF;
	font-weight: bold;
	padding-top:0px;
	margin:0px;
	border:1px solid #ccc;
	border-right: 0px;
}
#menu ul ul{
	border:1px solid #ccc;
	border-top:0px;
	border-right:0px;
}
#menu a {
	width:100px;
	display:block;
	color:white;
	text-decoration:none;
	text-align:center;
	text-overflow:ellipsis;
	vertical-align:auto;
	border-right:0px solid #CCC;
	padding-top:5px;
	padding-bottom:2px;
	height:24px;
}

#menu ul a {
	color:#0783DF;
}

#menu ul a:hover {
	color:white;
}

#menu ul a.ahover {
	color:white;
}

#menu a.submenu {
	color:#0783DF;
	background:url(../images/arrow_blue.gif) no-repeat 90% 50%;
}
#menu a.submenu:hover {
	color:white
	background:url(../images/arrow_white.gif) no-repeat 90% 50%;
}
/*
#menu a.submenuhover {
	color:white;
	background:url(Images/arrow_white.gif) no-repeat 90% 50%;
} 
*/

#menu li {
	float:left;
	width:86px;
	
}
#menu li ul {
	position:absolute;
	margin:0px 0px 0px -1px;
	padding:0px 0px 12px 0px;
	left:-9999em;
	width:120px;
	font-weight:normal;
	/*
	border:1px solid #93BEDE;
	border-top:0px;
	
	*/
	BORDER-BOTTOM: #5292C1 2px solid;
	BORDER-RIGHT: #5292C1 2px solid; 
	BORDER-TOP: #93BEDE 0px solid; 
	BORDER-LEFT: #93BEDE 1px solid; 
	
	
	background:url(../images/menuBackground.gif) repeat bottom;
}

#menu li li {
	width:100px;
	background:#EDF8FF
}

#menu li ul a {
	width:120px;
	padding:5px 12px 0px 12px;
	height:20px;
	line-height:20px;
	border-top:1px solid #93BEDE;
	text-align:left;
}
#menu li ul ul {
	margin:-22px 0px 0px 119px;
}


#menu li.menuitemhover {
	background:#36A9FF;
}

#menu ul a.menuitemhover {
	color:white
}


#menu li.rootmenuitemhover {
	background:url(../images/rootMenuBackground1.gif) no-repeat center;
}

.rootmenuA {
	width:100px;
	display:block;
	color:white;
	text-decoration:none;
	text-align:center;
	text-overflow:ellipsis;
	vertical-align:middle;
	border-right:0px solid #CCC;
	height:29px;
	background:url(../images/rootSpacer.gif) no-repeat right 50%;
}