<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd"
	default-autowire="byName" default-lazy-init="true">

	
	<http auto-config="true" access-denied-page="/common/403.jsp">
		<intercept-url pattern="/login.**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<form-login login-page="/login.action" default-target-url="/admin/main.action" authentication-failure-url="/login.action?error=1" />
		<logout logout-success-url="/" invalidate-session="true"/>
		<remember-me key="e37f4b31-0c45-11dd-bd0b-0800200c9a66" />
		<!-- 两个配置都只允许用户登录一次，exception-if-maximum-exceeded 默认为false，此值表示：
用户第二次登录时，前一次的登录信息都被清空。当exception-if-maximum-exceeded="true"时系统会拒
绝第二次登录。
		 -->
		<concurrent-session-control max-sessions="1" exception-if-maximum-exceeded="false" expired-url="/login.action?error=3"/>
	</http>

	<authentication-provider user-service-ref="userDetailsService">
		<password-encoder hash="md5">
			<salt-source user-property="username"/>
		</password-encoder>
	</authentication-provider>
	
	<authentication-manager alias="authenticationManager"/>  
	
	<beans:bean id="accessDecisionManager" class="org.springframework.security.vote.AffirmativeBased">  
        <beans:property name="allowIfAllAbstainDecisions" value="false"/>  
        <beans:property name="decisionVoters">  
            <beans:list>  
                <beans:bean class="org.springframework.security.vote.RoleVoter">
                	<beans:property name="rolePrefix" value="PER_"/>
                </beans:bean>  
                <beans:bean class="org.springframework.security.vote.AuthenticatedVoter"/>  
            </beans:list>  
        </beans:property>  
    </beans:bean>  
	
	<beans:bean id="resourceSecurityInterceptor" class="org.springframework.security.intercept.web.FilterSecurityInterceptor">  
        <beans:property name="authenticationManager" ref="authenticationManager"/>  
        <beans:property name="accessDecisionManager" ref="accessDecisionManager"/>  
        <beans:property name="objectDefinitionSource" ref="dbFilterInvocationDefinitionSource" />  
        <beans:property name="observeOncePerRequest" value="false" />  
        <custom-filter after="LAST" />  
    </beans:bean>  
       
    <beans:bean id="dbFilterInvocationDefinitionSource" class="com.yanpeng.ssweb.service.security.resource.DbFilterInvocationDefinitionSource" />  
	

	<beans:bean id="userDetailsService" class="com.yanpeng.ssweb.service.security.UserDetailServiceImpl" >
		<beans:property name="userManager" ref="userManager"/>
	</beans:bean>
	
	<beans:bean id="userManager" class="com.yanpeng.ssweb.service.user.UserManager">
		<beans:property name="sessionFactory" ref="sessionFactory"/>
	</beans:bean>
	
	
</beans:beans>