UNKNOWN {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
BODY {
	SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #dddddd; SCROLLBAR-SHADOW-COLOR: #84838f; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #84838f; SCROLLBAR-ARROW-COLOR: #84838f; SCROLLBAR-TRACK-COLOR: #cccccc; FONT-FAMILY: Arial; SCROLLBAR-DARKSHADOW-COLOR: #666666
}
A:active {
	FONT: 11px arial,sans-serif; COLOR:#000000; TEXT-DECORATION: none
}
A:link {
	FONT: 11px arial,sans-serif; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT: 11px arial,sans-serif; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
TABLE {
	FONT: 11px arial,sans-serif; COLOR: #000000; TEXT-DECORATION: none
}
.tda01 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #8a889d
}
.tda02 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #8a889d
}
.tda03 {
	FONT: 12px arial,sans-serif; COLOR: #000000;
}
.tda04 {
	FONT-SIZE: 12pt; COLOR: #5a5a80
}
.tda05 {
	FONT-SIZE: 12pt; COLOR: #000000
}
.tda06 {
	FONT-SIZE: 12pt; COLOR: #564766
}
.tda07 {
	BORDER-RIGHT: #93e7fb 1px solid; BORDER-TOP: #93e7fb 1px solid; BORDER-LEFT: #93e7fb 1px solid; BORDER-BOTTOM: #93e7fb 1px solid; BACKGROUND-COLOR: #dadde3
}
.tda08 {
	BORDER-RIGHT: #93e7fb 1px solid; BORDER-TOP: #93e7fb 1px solid; BORDER-LEFT: #93e7fb 1px solid; BORDER-BOTTOM: #93e7fb 1px solid
}
.tda09 {
	BACKGROUND-COLOR: #EEECEB
}
.tda10 {
	BORDER-RIGHT: #2f2b28 1px solid; BORDER-TOP: #2f2b28 1px solid; BORDER-LEFT: #2f2b28 1px solid; BORDER-BOTTOM: #2f2b28 1px solid; BACKGROUND-COLOR: #F1F1F1
}
.tda11 {
	BORDER-RIGHT: #919B9C 1px solid; BORDER-TOP: #919B9C 1px solid; BORDER-LEFT: #919B9C 1px solid; BORDER-BOTTOM: #919B9C 1px solid; BACKGROUND-COLOR: #F1F1F1
}
.tdaemail01 {
	FONT: 11px arial,sans-serif; COLOR: #585858; BORDER-RIGHT: #6A6D60 1px solid; BORDER-TOP: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BORDER-BOTTOM: #6A6D60 1px solid; BACKGROUND-COLOR: #DCDCDC
}
.tdaemail02 {
	FONT: 11px arial,sans-serif; COLOR: #000000; BORDER-RIGHT: #6A6D60 1px solid; BACKGROUND-COLOR: #FFFFFF
}
.tda12 {
	FILTER: dropshadow(color=#EEECEB, offx=1, offy=1); COLOR: #707070
}
.tda13 {
	COLOR: #717070; BACKGROUND-COLOR: #ECEBEB
}
.tda13b {
	COLOR: #717070; BACKGROUND-COLOR: #E0DFDF
}
.tda14 {
	COLOR: #606060; BACKGROUND-COLOR: #EEECEB
}
.tda15 {
	FONT-SIZE: 9pt; COLOR: #ffffff
}
.tda16 {
	FONT: 11px arial,sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #5e5e5e
}
.tdaQ {
	FONT-SIZE: 12pt; COLOR: #ff0000
}
.tdaA {
	FONT-SIZE: 12pt; COLOR: #0000ff
}
.box01 {
	FONT: 11px arial,sans-serif; BACKGROUND-COLOR: #ffffff
}
.box02 {
	FONT: 11px arial,sans-serif; COLOR: #606060; BORDER-RIGHT: #84838f 1px solid; BORDER-TOP: #84838f 1px solid; BORDER-LEFT: #84838f 1px solid; BORDER-BOTTOM: #84838f 1px solid; background-color: #EDEDEC;
}
.box03 {
	FONT: 11px arial,sans-serif; BORDER-RIGHT: #dedde3 1px solid; BORDER-TOP: #8a889d 1px solid; BORDER-LEFT: #8a889d 1px solid; BORDER-BOTTOM: #dedde3 1px solid; background-color: #ffffff;
}
.box04 {
	FONT: 11px arial,sans-serif; BORDER-RIGHT: #8a889d 1px solid; BORDER-TOP: #8a889d 1px solid; BORDER-LEFT: #8a889d 1px solid; BORDER-BOTTOM: #8a889d 1px solid; BACKGROUND-COLOR: #ffffff
}
div.tableContainer {
 clear: both;
 height: 200px;
 overflow: auto;
 width: 100%;
}
 


html div.tableContainer {
 padding: 0 16px 0 0+9
}
 

html>body div.tableContainer {
 height: auto;
 padding: 0;
 width: 740px
}
 

head:first-child+body div[class].tableContainer {
 height: 200px;
 overflow: hidden;
 width: 756px
}
 

div.tableContainer table {
 float: left;
 width: 100%
}
 
html div.tableContainer table {
 margin: 0 -16px 0 0
}
.menuBox {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.lab {
	BORDER-RIGHT: #2f2b28 1px solid; BORDER-TOP: #2f2b28 1px solid; BORDER-LEFT: #2f2b28 1px solid; BORDER-BOTTOM: #2f2b28 1px solid; BACKGROUND-COLOR: #F1F1F1
}
.lab2 {
	FONT: 11px arial,sans-serif; COLOR: #000000; BACKGROUND-COLOR: #ABC3DC
}
.lab3 {
	COLOR: #000000; BACKGROUND-COLOR: #EBEBEB
}
.lab4 {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.lab1a {
	BORDER-LEFT: #585951 1px solid; BORDER-BOTTOM: #585951 1px solid;
}
.lab1b {
	BORDER-RIGHT: #C0D0DA 1px solid; BORDER-LEFT: #C0D0DA 1px solid; BORDER-BOTTOM: #C0D0DA 1px solid;
}
.lab1c {
	BORDER-RIGHT: #91B1EC 1px solid; BORDER-LEFT: #91B1EC 1px solid; BORDER-BOTTOM: #91B1EC 1px solid;
}
.font {
	color: #5B628E;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
	TEXT-DECORATION: none
}
.font:link {
	color: #5B628E;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
	TEXT-DECORATION: none
}
.font:visited {
	color: #5B628E;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
	TEXT-DECORATION: none
}
.font:hover {
	color: #FFFFFF;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
	TEXT-DECORATION: underline
}
.font1 {
	color: #004080;
	font-size: 12px;
	line-height: 22px;
	TEXT-DECORATION: none
}
.font1:link {
	color: #004080;
	font-size: 12px;
	line-height: 22px;
	TEXT-DECORATION: none
}
.font1:visited {
	color: #004080;
	font-size: 12px;
	line-height: 22px;
	TEXT-DECORATION: none
}
.font1:hover {
	color: #98ABD6;
	font-size: 12px;
	line-height: 22px;
	TEXT-DECORATION: underline
}
