/*This file configs CTI web icon components*/
/*Created@2007-11-14*/

#keypadImage{
	width:35px; 
	height:35px; 
	background-image:url(../../images/new_cti_image/keyboard.gif);
}
	.keypadImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.keypadImage_over{		background-position:-35px 0px;	cursor:pointer;}
	.keypadImage_down{		background-position:-70px 0px;	cursor:pointer;}
	.keypadImage_disabled{	background-position:-105px 0px;	cursor:not-allowed;}


#dialImage{
	width:35px; 
	height:35px; 
	background-image:url(../../images/new_cti_image/dial.gif);
}
	.dialImage_enabled{		background-position:0px 0px;	cursor:pointer;}
	.dialImage_over{		background-position:-35px 0px;	cursor:pointer;}
	.dialImage_down{		background-position:-70px 0px;	cursor:pointer;}
	.dialImage_disabled{	background-position:-105px 0px;	cursor:not-allowed;}
	.dialImage_flash{		background-position:-140px 0px;	cursor:pointer;}
	.dialImage_flash_down{	background-position:-210px 0px;	cursor:pointer;}
	.dialImage_ringing{		background-position:-140px 0px;	cursor:pointer;}
	.dialImage_dialing{		background-position:-140px 0px;	cursor:pointer;}
	.dialImage_talking{		background-position:-175px 0px;	cursor:pointer;}


#disconImage{
	width:35px; 
	height:35px; 
	background-image:url(../../images/new_cti_image/discon.gif);
} 
	.disconImage_enabled{  background-position:0px 0px;		cursor:pointer;}
	.disconImage_over{		background-position:-35px 0px;	cursor:pointer;}
	.disconImage_down{		background-position:-70px 0px;	cursor:pointer;}
	.disconImage_disabled{	background-position:-105px 0px;	cursor:not-allowed;}
	.disconImage_hangup{	background-position:-140px 0px;	cursor:pointer;}
	.disconImage_refuse{	background-position:-175px 0px;	cursor:pointer;}


#holdImage{
	width:34px; 
	height:34px; 
	background-image:url(../../images/cti_image/hold.gif);
} 
	.holdImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.holdImage_over{	background-position:-34px 0px;	cursor:pointer;}
	.holdImage_down{	background-position:-68px 0px;	cursor:pointer;}
	.holdImage_disabled{background-position:-102px 0px;	cursor:not-allowed;}


#transferImage{
	width:31px; 
	height:34px; 
	background-image:url(../../images/cti_image/transfer.gif);
} 
	.transferImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.transferImage_over{	background-position:-31px 0px;	cursor:pointer;}
	.transferImage_down{	background-position:-62px 0px;	cursor:pointer;}
	.transferImage_disabled{background-position:-93px 0px;	cursor:not-allowed;}


#conferenceImage{
	width:31px; 
	height:34px; 
	background-image:url(../../images/cti_image/conference.gif);
} 
	.conferenceImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.conferenceImage_over{		background-position:-31px 0px;	cursor:pointer;}
	.conferenceImage_down{		background-position:-62px 0px;	cursor:pointer;}
	.conferenceImage_disabled{	background-position:-93px 0px;	cursor:not-allowed;}


#ivrImage{
	width:32px; 
	height:34px; 
	background-image:url(../../images/cti_image/ivr.gif);
} 
	.ivrImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.ivrImage_over{		background-position:-32px 0px;	cursor:pointer;}
	.ivrImage_down{		background-position:-64px 0px;	cursor:pointer;}
	.ivrImage_disabled{	background-position:-96px 0px;	cursor:not-allowed;}


#lineOneImage{
	width:23px; 
	height:14px;
	overflow:hidden;
	background-image:url(../../images/new_cti_image/line.gif);
} 
	.lineOneImage_on_idle{		background-position:0px 0px;	cursor:pointer;}
	.lineOneImage_on_ringing{	background-position:0px -14px;	cursor:pointer;}
	.lineOneImage_on_dialing{	background-position:0px -28px;	cursor:pointer;}
	.lineOneImage_on_talking{	background-position:0px -28px;	cursor:pointer;}
	.lineOneImage_on_hold{		background-position:0px -42px;	cursor:pointer;}
	.lineOneImage_off_idle{		background-position:0px -56px;	cursor:pointer;}
	.lineOneImage_off_disabled{	background-position:0px -56px;	cursor:not-allowed;}
	.lineOneImage_off_ringing{	background-position:0px -70px;	cursor:pointer;}
	.lineOneImage_off_dialing{	background-position:0px -84px;	cursor:pointer;}
	.lineOneImage_off_talking{	background-position:0px -84px;	cursor:pointer;}
	.lineOneImage_off_hold{		background-position:0px -98px;	cursor:pointer;}


#lineTwoImage{
	width:23px; 
	height:14px;
	overflow:hidden;
	background-image:url(../../images/new_cti_image/line.gif);
} 
	.lineTwoImage_on_idle{		background-position:-23px 0px;		cursor:pointer;}
	.lineTwoImage_on_ringing{	background-position:-23px -14px;	cursor:pointer;}
	.lineTwoImage_on_dialing{	background-position:-23px -28px;	cursor:pointer;}
	.lineTwoImage_on_talking{	background-position:-23px -28px;	cursor:pointer;}
	.lineTwoImage_on_hold{		background-position:-23px -42px;	cursor:pointer;}
	.lineTwoImage_off_idle{		background-position:-23px -56px;	cursor:pointer;}
	.lineTwoImage_off_disabled{	background-position:-23px -56px;	cursor:not-allowed;}
	.lineTwoImage_off_ringing{	background-position:-23px -70px;	cursor:pointer;}
	.lineTwoImage_off_dialing{	background-position:-23px -84px;	cursor:pointer;}
	.lineTwoImage_off_talking{	background-position:-23px -84px;	cursor:pointer;}
	.lineTwoImage_off_hold{		background-position:-23px -98px;	cursor:pointer;}


#lineThreeImage{
	width:23px; 
	height:14px;
	overflow:hidden;
	background-image:url(../../images/new_cti_image/line.gif);
} 
	.lineThreeImage_on_idle{	background-position:-46px 0px;		cursor:pointer;}
	.lineThreeImage_on_ringing{	background-position:-46px -14px;	cursor:pointer;}
	.lineThreeImage_on_dialing{	background-position:-46px -28px;	cursor:pointer;}
	.lineThreeImage_on_talking{	background-position:-46px -28px;	cursor:pointer;}
	.lineThreeImage_on_hold{	background-position:-46px -42px;	cursor:pointer;}
	.lineThreeImage_off_idle{	background-position:-46px -56px;	cursor:pointer;}
	.lineThreeImage_off_disabled{background-position:-46px -56px;	cursor:not-allowed;}
	.lineThreeImage_off_ringing{background-position:-46px -70px;	cursor:pointer;}
	.lineThreeImage_off_dialing{background-position:-46px -84px;	cursor:pointer;}
	.lineThreeImage_off_talking{background-position:-46px -84px;	cursor:pointer;}
	.lineThreeImage_off_hold{	background-position:-46px -98px;	cursor:pointer;}


#mailinImage{
	width:30px; 
	height:29px; 
	background-image:url(../../images/cti_image/email.gif);
} 
	.mailinImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.mailinImage_over{		background-position:-30px 0px;	cursor:pointer;}
	.mailinImage_down{		background-position:-60px 0px;	cursor:pointer;}
	.mailinImage_disabled{	background-position:-90px 0px;	cursor:not-allowed;}
	.mailinImage_flash{		background-position:-120px 0px;	cursor:pointer;}


#workbinEmailImage{
	width:30px; 
	height:29px; 
	background-image:url(../../images/cti_image/workbin.gif);
} 
	.workbinEmailImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.workbinEmailImage_over{	background-position:-30px 0px;	cursor:pointer;}
	.workbinEmailImage_down{	background-position:-60px 0px;	cursor:pointer;}
	.workbinEmailImage_disabled{background-position:-90px 0px;	cursor:not-allowed;}


#chatImage{
	width:30px; 
	height:29px; 
	background-image:url(../../images/cti_image/chat.gif);
} 
	.chatImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.chatImage_over{	background-position:-30px 0px;	cursor:pointer;}
	.chatImage_down{	background-position:-60px 0px;	cursor:pointer;}
	.chatImage_disabled{background-position:-90px 0px;	cursor:not-allowed;}
	.chatImage_flash{	background-position:-120px 0px;	cursor:pointer;}


#cobrowseImage{
	width:30px; 
	height:29px; 
	background-image:url(../../images/cti_image/cobrowse.gif);
} 
	.cobrowseImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.cobrowseImage_over{	background-position:-30px 0px;	cursor:pointer;}
	.cobrowseImage_down{	background-position:-60px 0px;	cursor:pointer;}
	.cobrowseImage_disabled{background-position:-90px 0px;	cursor:not-allowed;}


#newEmailImage{
	width:30px; 
	height:29px; 
	background-image:url(../../images/cti_image/newEmail.gif);
} 
	.newEmailImage_enabled{	background-position:0px 0px;	cursor:pointer;}
	.newEmailImage_over{		background-position:-30px 0px;	cursor:pointer;}
	.newEmailImage_down{		background-position:-60px 0px;	cursor:pointer;}
	.newEmailImage_disabled{	background-position:-90px 0px;	cursor:not-allowed;}
	.newEmailImage_flash{		background-position:-120px 0px;	cursor:pointer;}