/* 
	2007-05-23
	Evan.bian
*/
/* for global style */

body,td,th,input,select,textarea {
	font-size: 11px;
	color: #000000;
	font-family:Tahoma,Verdana,Segoe,sans-serif;
}
body {
	margin: 0px;
	border: none;
	SCROLLBAR-FACE-COLOR: #D4DCE6;
	SCROLLBAR-HIGHLIGHT-COLOR: #f8f8f8;
	SCROLLBAR-SHADOW-COLOR: #92A7C3;
	SCROLLBAR-3DLIGHT-COLOR: #92A7C3;
	SCROLLBAR-ARROW-COLOR: #5F5F5F;
	SCROLLBAR-TRACK-COLOR: #f8f8f8;
	SCROLLBAR-DARKSHADOW-COLOR: #f8f8f8;
	overflow:auto;
}
a {
	color: #333333;
	text-decoration: underline;
}
a.blue {
	color: #026aff;
	font-weight:bold;
	text-decoration: none;
}
a:hover {	color: #FF3300;}
marquee {	cursor:default;}
.lightBg {background-color:#f7fbfe}

.red {color: #FF0000}
.blue {color: #3873cf}
.green {color: #009900}
.orange {color: #ff9900}
.gray { color:gray; }

.titleSmall {font-size: 12px;}
.titleMiddle {font-size: 14px;}
.hugeTitle20 { font-family: Arial; font-size: 18px;}
.tHead{ font-size:18px; font-weight:bold; background-image:url(../images/op_bg.gif); border-bottom:1px solid #aaaaaa; padding-left:12px;}
.tHead1{ont-size:14px; font-weight:bold; background-image:url(../images/op_bg.gif); border-bottom:1px solid #aaaaaa}
.tHead2{ font-size:14px; font-weight:bold; background-image:url(../images/op_bg.gif); border-top:1px solid #aaaaaa}

.advSearch {background-color:#cbddf7; border:2px solid #7ea7db;}
.nobreak {
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	overflow:hidden;
}
.pointer {	cursor:pointer;}
.forbid { cursor:not-allowed;}

.checkbox {	height:15px; width:15px; }
.inputBox {
	border:1px solid #999999; 
	padding:1px 4px;
	background-color:#ffffff;  
	width:100%;
}

.inputUrlBox {
	border:1px solid #999999; 
	padding:1px 4px;
	background-color:#ffffff;  
	width:100%;
	color:#0000CC;
	text-decoration:underline;
	behavior:	   url("../../style/EZ_openUrl.htc");
}

.inputBoxFix {
	border:1px solid #999999; 
	padding:1px 4px;
	background-color:#ffffff;  
}
.inputBoxReadonly {
	border:1px solid #999999; 
	padding:1px 4px;
	background-color:#f2f2f2;  
	width:100%;
}

.inputTextarea {
	border:1px solid #999999; 
	padding:2px;
	background-color:#ffffff;
	width:100%;
}
.inputTextareaReadonly {
	border:1px solid #999999; 
	padding:2px;
	background-color:#f2f2f2;
	width:100%;
}

.typeMaintain{ background-image:url(../images/typeMaintain_bg.gif); background-position:top; height:22px; border-bottom:1px solid #c7c7c7}

.legend{font-size:14px; font-weight:bold; color:#e25a00; }
.fieldset {margin:10px; padding:5px; border:1px solid #cccccc;}

.pastDue {text-decoration:line-through; color:#666666;}
/*for search area*/
.searchBg{
	background-image:url(../images/mac_bg1.gif);
}
.opBg{
	background-image:url(../images/mac_bg1.gif);
	border-bottom:1px solid #959595;
}

/*for button define*/
.button {
	 border:1px solid #a0a0a0;
	 border-bottom:1px solid #666666; 
	 padding: 2px 2px 0px 2px; 
	 font-size: 11px;
	 height:21px;
	 /*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); */
	 font-family:Tahoma,Verdana,Segoe,sans-serif;
	 background:#ffffff url(../images/button_normal_bg.gif);
	 background-position:0px 0px;
	 cursor:poniter;
}

.addButton {
	 /*border:1px solid #70aae9; 
	 border-bottom:1px solid #3670af; */
	 border:1px solid #a0a0a0;
	 border-bottom:1px solid #666666; 
	 padding: 2px 2px 0px 2px; 
	 font-size: 11px; 
	 height:21px;
	 /*width:45px;
	 filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#6AA1E7); */
	 font-family:Tahoma,Verdana,Segoe,sans-serif;
	 background:#ffffff url(../images/button_normal_bg.gif);
	 /*background-position:0px -25px;*/
	 background-position:0px 0px;
	 cursor:poniter;
}

.modButton {
	 /*border:1px solid #dc7f00; 
	 border-bottom:1px solid #c85100; */
	 border:1px solid #a0a0a0;
	 border-bottom:1px solid #666666; 
	 padding: 2px 2px 0px 2px; 
	 font-size: 11px; 
	 height:21px;
	 /*width:45px;
	 filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#EEB827); */
	 font-family:Tahoma,Verdana,Segoe,sans-serif;
	 background:#ffffff url(../images/button_normal_bg.gif);
	 /*background-position:0px -50px;*/
	 background-position:0px 0px;
	 cursor:poniter;
}

.delButton {
	 /*border:1px solid #f46b6b; 
	 border-bottom:1px solid #e21616; */
	 border:1px solid #a0a0a0;
	 border-bottom:1px solid #666666; 
	 padding: 2px 2px 0px 2px; 
	 font-size: 11px; 
	 height:21px;
	 /*width:45px;
	 filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#F7989D); */
	 font-family:Tahoma,Verdana,Segoe,sans-serif;
	 background:#ffffff url(../images/button_normal_bg.gif);
	/* background-position:0px -75px;*/
	background-position:0px 0px;
	 cursor:poniter;
}

.opButton {
	 border:1px solid #005eba; 
	 padding: 2px 2px 0px 2px; 
	 font-size: 11px; 
	 height:21px;
	 /*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#F7989D); */
	 font-family:Tahoma,Verdana,Segoe,sans-serif;
	 background:#edeeff url(../images/button_normal_bg.gif);
	 background-position:0px -100px;
	 cursor:poniter;
}

/* for top style */

.ContactTopDiv {
	height:94px;
}
.otherTopDiv {
	height:50px;
}

/* for left style */


/* for popWin style */


/* for softPhone style */
#softPhoneDiv { 
	width:531px; 
	height:57px; 
	background-image:url(../images/top_softPhone_bg.gif);
}
.phoneNumberBox {
	padding: 0px 2px 0px 2px; 
	border: 1px solid #afb0a0;
	font-size: 15px; 
	font-weight:bold; 
	background-image: url(../images/box02bg.gif); 
	width: 147px; 
	height: 21px;
	line-height:21px;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
}
.statWord {
	color: #000000;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	line-height: 11px;
	TEXT-DECORATION: none
}

/*  for softKeyboard component */
#softKeyBoardDiv {
	position:absolute;
	padding-left:8px;
	z-index:100;
	left: 210px;
	top: 85px;
}

.skInput {
	padding:1px 2px 1px 2px;
	BORDER-RIGHT: #8a889d 1px solid; 
	BORDER-TOP: #8a889d 1px solid; 
	FONT: 11px Verdana; 
	BORDER-LEFT: #8a889d 1px solid; 
	BORDER-BOTTOM: #8a889d 1px solid; 
	BACKGROUND-COLOR: #F1F1F1;
}

.skBig {
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align:center;
	line-height:24px;
	cursor:pointer;
	background-image:url(../images/SZJP_button1_eb.gif);
	background-repeat:no-repeat;
}
.skBigOver {
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align:center;
	line-height:24px;
	cursor:pointer;
	background-image:url(../images/SZJP_button1_mo.gif);
	background-repeat:no-repeat;
	line-height:24px;
}
.skBigDown {
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button1_dn.gif);
	background-repeat:no-repeat;
	line-height:32px;
}
.skMiddle {
	color: #FFFFFF; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button2_eb.gif);
	background-repeat:no-repeat;
}
.skMiddleOver {
	color: #FFFFFF; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button2_mo.gif);
	background-repeat:no-repeat;
}
.skMiddleDown {
	color: #FFFFFF; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button2_dn.gif);
	background-repeat:no-repeat;
	line-height:20px;
}
.skFun1 {
	color: #FFFFFF; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button2_eb.gif);
	background-repeat:no-repeat;
}
.skFun1Over {
	color: #FFFFFF; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button2_mo.gif);
	background-repeat:no-repeat;
}
.skFun1Down {
	color: #FFFFFF; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button2_dn.gif);
	background-repeat:no-repeat;
}
.skFun2 {
	color: #FFFFFF; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif;
	 font-size: 11px; 
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button2_eb.gif);
	background-repeat:no-repeat;
}
.skFun2Over {
	color: #FFFFFF; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button2_mo.gif);
	background-repeat:no-repeat;
}
.skFun2Down {
	color: #FFFFFF; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-align:center;
	cursor:pointer;
	background-image:url(../images/SZJP_button2_dn.gif);
	background-repeat:no-repeat;
}

/* for callHistoryList style */
.data {font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#333333}
.callHisItem {
	background-image:url(../images/call_his_item_bg.gif);
	background-repeat:repeat-x;
	color:#FFFFFF;
	cursor:pointer;
}







/* for right style */
#floatRightDiv {
	position:absolute;
	border:1px solid #6D6D6D;
	width:200px;
	margin-left:-200px;
	background-color:#FFFFFF;
	z-index:110;
}
#sensorRight {
	background-image:url(../images/right_bg.gif);
	background-repeat:repeat-y;
	background-color: #dddcd8;
	background-position:top right;
	overflow:hidden;
}


/* for bottom style */
#bottomDiv {
	height:36px;
/*	padding-top:24px;*/
	background-image:url(../images/bottom_bg.gif);
}

/* for IMalert style */
#IMalert {
	border:1px solid #333333;
	position:absolute;
	width:320px; 
	height:120px; 
	z-index:1010; 
	table-layout:fixed; 
	border:1px solid #7191c1; 
	background-color:#ffffff;
}

/* for pop window style */
.tab4 { 
	background-image:url(../images/tab_4bg.gif);
	background-repeat:no-repeat;
	color:black;
	height:25px;
	width:80px;
	text-align:center;
	padding-top:6px;
	cursor:pointer;
}
.tab4Current { 
	background-image:url(../images/tab_4bg_current.gif);
	background-repeat:no-repeat;
	font-weight:bold;
	color:#006AB9;
	height:25px;
	width:80px;
	text-align:center;
	padding-top:5px;
	cursor:pointer;
}
/*for slipt ui*/
.tabS { 
	background-image:url(../images/tab_4bg.gif);
	background-repeat:no-repeat;
	color:black;
	height:25px;
	width:80px;
	text-align:center;
	padding-top:6px;
	cursor:pointer;
	border-bottom:1px solid #cccccc
}
.tabSCurrent { 
	background-image:url(../images/tab_4bg_current.gif);
	background-repeat:no-repeat;
	font-weight:bold;
	color:#006AB9;
	height:25px;
	width:80px;
	text-align:center;
	padding-top:5px;
	cursor:pointer;
}
.tabSnull { 
	border-bottom:1px solid #cccccc;
}

/*for displaytable*/
#displayTable {	
	border-collapse:collapse;
	border:1px solid #999999;
	table-layout:fixed;
}
#displayTable td {	
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	overflow:hidden;
	border-right:1px solid #999999;
	border-bottom:1px solid #a8a8a8;
	padding:2px;
	background-color:#ffffff; 
}

/*for contactPipeline*/
#contactPipeline{ 
	border-top:1px solid #eef5fe; 
	border-bottom:1px solid #93b0d7; 
	background-color:#e6edf6; 
	height:24px;
}
#contactPipeline td{ 
	cursor:pointer;
	text-align:center;
}
#contactPipeline .cppOver{ 
	cursor:pointer;
	background-color:#f3f7fb;
}
#contactPipeline .cppCurrent {
	background-image:url(../images/cppLine.gif);
	font-weight:bold;
}
#contactPipeline .cppLine {
	background-image:url(../images/cppLine.gif);
	width:1px;
	font-size:1px;
}

/* for shortCutKey & other style */

/*#shortcutKeyList {
	position:absolute; background-color:#FFFFFF; border:1px solid #cccccc; margin-left:-25px; width:120px; z-index:32; 
}*/

#shortcutKeyList td{
	font-size:12px;
}
#shortcutKeyList  .trOver{
	background-color:#0A246A; color:#FFFFFF; cursor:pointer;
}
#shortcutKeyList  .trOut{
	background-color:;  cursor:pointer;
}
#processMessage{
	position:absolute;
	border:1px solid #00aeda;
	background-color:#c5f1ff;
	padding:5px;
	width:98%;
	margin-top:-30px;
	margin-left:5px;
	filter: alpha(opacity=80);
}


/*  for statMenu component */
#statMenu {
	position:absolute; border:1px solid #8592B5; width:157px; background-color:#FFFFFF; overflow:visible; margin-left:62px; margin-top:35px; z-index:100;}
#statMenu td { line-height:15px;}
#statMenu .currentMenu {
	background-color:#DFE1E4; border-bottom:1px solid #CBD6EA; height:22px; padding-top:1px; padding-left:6px;
}
#statMenu .notCurrentMenu { 
	border-top:1px solid #CBD6EA; height:20px; padding-top:3px; padding-left:6px;background-image:url(../images/sub_menu_bg.gif);
}
#statMenu  .tdOver{background-color:#B2CFEE; color:#000000; cursor:pointer;}
#statMenu  .tdOut{background-color:#ffffff;  cursor:pointer;}




/*  for grid component */
.resizeDivClass{
	position:relative;
  	background-color:white;
	filter:alpha(Opacity=25);
	width:3px;
	height:20px;
	z-index:1;
	left:expression(this.parentElement.offsetWidth-3);
	cursor:col-resize;
	float:inherit;
}
.alignCenter{
	width:expression(this.parentElement.offsetWidth-7);
	text-align:center;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	float:inherit;
	padding-bottom:3px;
}
.alignLeft{
	width:expression(this.parentElement.offsetWidth-7);
	text-align:left;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	float:inherit;
	padding-bottom:3px;
}
.alignRight{
	width:expression(this.parentElement.offsetWidth-7);
	text-align:right;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	float:inherit;
	padding-bottom:3px;
}
.interleaveColor {
	background-color:#EEF5FE
}

#dataIN {
	height:100%;
	width:100%;
	overflow:auto;
}
#dataTable {
	padding:0px 0px; 
	width:100%; 
}
#dataTable .dragAbleTable {
	border-collapse:collapse;
	border-top:1px solid #959595;
	table-layout:fixed;
}
#dragAbleTable td{
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	overflow:hidden;
	/*border-right:1px solid #b3d3ef;*/
	border-bottom:1px solid #b3d3ef;
	padding:3px 10px;
}
#dragAbleTable th{
	height:20px;
	/*font-weight:normal;*/
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	overflow:hidden;
	background-image:url(../images/grid_head.gif);
	border-right:1px solid #aaaaaa;
	/*border-bottom:2px ridge #BDD8FF;*/
	border-bottom:1px solid #959595;
	background-color:#CAD9EC;
	cursor:default;
}
.TitleCheckbox {height:15px; width:15px; margin-left:-3px; }
.pagination {
	border-top:1px solid #b2b2b2;
	background-image:url(../images/EZ-paginationBg.gif);
	background-position:top;
	padding:4px;
}
.floatLeft {
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	float:left;
}
.floatRight {
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	float:right;
}
.currentPage {
	font-weight:bold;
	color:red;
	font-size: 13px;
	padding:1px 4px;
}
.goNumber {
	border:1px solid #4b81c8;
	background-color:#FFFFFF;
	font-size:11px;
	height:15px;
	line-height:11px;
	width:22px;
	font-family: Tahoma,Verdana,Verdana, sans-serif;
}
#eGridTableSelectRecordsDiv {
	position:absolute; 
	z-index:100; 
	border:2px solid #aaaaaa; 
	background-color:#ffffff; 
	width:150px; height:75px; 
	margin-top:20px; 
	margin-left:-1px; 
}








/*********************************************************/
/*      inherit  7510   style                            */
/*********************************************************/

.box01 {border:1px solid #999999; font-family: Verdana, Tahoma, sans-serif;}
.box02 {
	PADDING: 0.15em 0.25em 0.2em 0.25em;
	WIDTH: auto;
	HEIGHT: auto;
	border: 1px solid #999999;
	font-family: Verdana, Tahoma, sans-serif;
}
.box03,.box04 {	FONT: 11px Verdana; background-color: #ffffff;}
.box05 		{ padding:1px 2px 1px 2px; BORDER: #999999 1px solid; BACKGROUND-COLOR: #C0C0C0;}
.message01  { background-color: #B1D1E4;}
.menuBox 	{ BORDER: #999999 1px solid;}
.textReadonly {border:1px solid #aaaaaa; padding:1px; background-color:#f8f8f8;font-family: Verdana, Tahoma, sans-serif;}
.textReadonlyMain {
	PADDING: 2px;
	WIDTH: auto;
	HEIGHT: auto;
	border: 1px solid #aaaaaa;
	BACKGROUND-COLOR: #f8f8f8;
	font-family: Verdana, Tahoma, sans-serif;
}
.lab1a {BORDER-LEFT: #585951 1px solid;}
.lab1b {BORDER: #C0D0DA 1px solid; BORDER-TOP-WIDTH:0px; }
.lab1c {BORDER: #43403D 1px solid;BORDER-TOP-WIDTH:0px;}
thead .arrow{font-family: webdings; color: black; padding: 0; font-size: 10px;
			height: 11px; width: 10px; overflow: hidden;
			margin-bottom: 2; margin-top: -3; padding: 0; padding-top: 0; padding-bottom: 2;}
.lab {	BORDER: #86A1D1 1px solid; BACKGROUND-COLOR: #D3E0F0}
.lab2 {	font-family: Verdana, Tahoma, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #ABC3DC}
.lab3 {	COLOR: #000000; BACKGROUND-COLOR: #ddefff}
.lab33 {COLOR: #000000; BACKGROUND-COLOR: #808080}
.lab4 {	COLOR: #000000; BACKGROUND-COLOR: #ffffff}
.lab5 {	COLOR: #000000; BACKGROUND-COLOR: #f1f1f1	}
.lab6 {	font-family: Verdana, Tahoma, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #ABC3DC}
.lab7 {	font-family: Verdana, Tahoma, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #BDDDE3}

.tda07 {BORDER: #93e7fb 1px solid; BACKGROUND-COLOR: #dadde3;}
.tda13 {COLOR: #717070; BACKGROUND-COLOR: #ECEBEB}






/*------New style-------------------*/
.popwin {
	background-image: url(../images/title_bg.gif); 
	background-position:left top;
	background-repeat:no-repeat;
	background-color:#f5f8f9;
}
.center {
	text-align:center;
}
.iconButton {
	vertical-align:middle;
	height:20px;
	cursor:pointer;
	padding:2px 3px;
	behavior:	   url("../../style/EZ_menuButton.htc");
}
.iconButtonHover {
	vertical-align:middle;
	height:20px;
	cursor:pointer;
	padding:1px 2px;
	border:1px solid #a0a0a0;
	background:#ffffff url(../images/button_normal_bg.gif);
	background-position:0px 0px;
	behavior:	   url("../../style/EZ_menuButton.htc");
}
.iconButtonDown {
	vertical-align:middle;
	height:20px;
	cursor:pointer;
	padding:2px 2px 0px 2px;
	border:1px solid #a0a0a0;
	background:#ffffff url(../images/button_normal_bg.gif);
	background-position:0px 0px;
	behavior:	   url("../../style/EZ_menuButton.htc");
}
.iconButtonDisabled {
	vertical-align:middle;
	height:20px;
	padding:2px 3px;
	color:#999999;
	cursor:not-allowed;
}
.iconButton img {
	vertical-align:middle;
	margin-right:3px;
}
.iconButtonHover img {
	vertical-align:middle;
	margin-right:3px;
}
.iconButtonDisabled img {
	vertical-align:middle;
	margin-right:3px;
}

.tableSeachTools {
	background-color:#f8f8f8;
	border-bottom:1px solid #b8b8b8;
}
.tableOperationTools{
	background-image:url(../images/mac_bg1.gif);
}
.newTab {
	vertical-align:middle;
	cursor:pointer;
	padding:0px 8px;
	height:20px;
	line-height:20px;
	font-weight:bold;
	border-right:1px solid #c0c0c0;
	display:inline;
}
.newCurrentTab {
	vertical-align:middle;
	background-image:url(../images/popWin_subTitle_Current_bg.gif);
	cursor:pointer;
	padding:0px 8px;
	height:20px;
	line-height:20px;
	font-weight:bold;
	border-right:1px solid #c0c0c0;
	display:inline;
}
#popWinTitle {
	height:50px;
	padding-left:20px;
	font-size:14px;
	font-weight:bold;
	line-height:50px;
	overflow:hidden;
}
#popWinTools {
	height:30px;
	padding:5px 0px 0px 5px;
	background-image:url(../images/EZbg_operation.gif);
	text-align:center;
	border-bottom:1px solid #bbbbbb;
	text-align:left;
	white-space:nowrap;
}
#popWinContentArea {
	overflow:auto; 
	background-color:#FFFFFF;
	margin-bottom:10px;
	text-align:left;
	border:1px solid #cccccc;
	overflow:hidden;
}
#popWinContentBottom {
	height:25px;
	background-image:url(../images/mac_bg1.gif);
	border-top:1px solid #cccccc;
	text-align:left;
	padding:5px 5px 0px 12px;;
}
#popWinSubTitle {
	background-image:url(../images/popWin_subTitle_bg.gif);
	height:20px;
	border-bottom:1px solid #aaaaaa;
	white-space:nowrap;
}
.tableCapital {
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	overflow:hidden;
	padding:0px 12px 0px 4px;
	text-align:left;
	behavior:	   url("../../style/EZ_tipRender.htc");
}
.tableTitle { 
	font-size:12px;
	font-weight:bold;
	padding:12px 5px 5px 5px;
	border-bottom:1px solid #838383;
	behavior:	   url("../../style/EZ_tipRender.htc");
}

.menu1 {
	height:25px;
	padding:4px;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	padding-left:8px;
	white-space:nowrap;
	overflow:hidden;
	background-image: url(../images/preference_menu_normal.gif);
}
.menu2 {
	height:26px;
	padding:4px;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	padding-left:8px;
	white-space:nowrap;
	overflow:hidden;
	border-top:1px solid #cccccc;
	background-image: url(../images/preference_menu_normal.gif);
}

.subMenu {
	padding:2px 5px;
	display:block;
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
}
.subMenuHover {
	padding:2px 5px;
	display:block;
	cursor:pointer;
	background-color:#a4c9eb;
	white-space:nowrap;
	overflow:hidden;
}
.subMenuDown {
	padding:2px 5px;
	display:block;
	cursor:pointer;
	background-color:#0071ef;
	color:#FFFFFF;
	white-space:nowrap;
	overflow:hidden;
}
.subMenuDisable {
	padding:2px 5px;
	display:block;
	cursor:default;
	white-space:nowrap;
	overflow:hidden;
	color:#888888;
}
.verticalSpace {
	border-left:1px solid #cccccc; 
	border-right:1px solid #cccccc; 
	background-color:#f4f4f4;
	width:10px;
}
.assistantClose {
	width:22px;
	background-color:#fafafa;
	vertical-align:top;
	padding:4px;
}
.assistantOpen {
	width:200px;
	background-color:#fafafa;
	vertical-align:top;
	padding:4px;
}
.assistantFrm {
	background-color:#fafafa;
}
.contentFrm {
	margin:6px;
	overflow:auto;
}
.inputLeft {
	float:left; 
	padding-right:23px;
}
.inputRight {
	float:left; 
	margin-left:-23px;
}
.inputTable  td{ padding:3px;}
.inputArea { padding:10px; overflow:auto}
.stagebody { overflow:hidden;}
#dialogContentArea { 
	overflow:auto; 
	background-color:#FFFFFF;
	text-align:left;
	border:1px solid #cccccc;
	overflow:hidden;
	margin:0px 20px 10px 20px;
	height:330px;
}
#dialogContentBottom{
	height:65px;
	background-image:url(../images/mac_bg1.gif);
	border-top:1px solid #cccccc;
	text-align:left;
	padding:5px 20px 0px 12px;;
}

label {
	cursor:pointer;
}
.ezSearchButton {
	width:23px;
	height:18px;
	float:left; 
	margin:1px 0px 0px -23px;
	background-image:url(../images/EZicon_search.gif);
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:0px 0px;
	cursor:pointer;
	behavior:	   url("../../style/EZ_searchButton.htc");
}
.ezSearchButtonHover {
	width:23px;
	height:18px;
	float:left; 
	margin:1px 0px 0px -23px;
	background-image:url(../images/EZicon_search.gif);
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:-23px 0px;
	cursor:pointer;
	behavior:	   url("../../style/EZ_searchButton.htc");
}
.ezSearchButtonDown {
	width:23px;
	height:18px;
	float:left; 
	margin:1px 0px 0px -23px;
	background-image:url(../images/EZicon_search.gif);
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:-46px 0px;
	cursor:pointer;
	behavior:	   url("../../style/EZ_searchButton.htc");
}
.ezSearchButtonDisabled {
	width:23px;
	height:18px;
	float:left; 
	margin:1px 0px 0px -23px;
	background-image:url(../images/EZicon_search.gif);
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:-69px 0px;
}
.ezSelectButton {
	width:23px;
	height:18px;
	float:left; 
	margin:1px 0px 0px -23px;
	background-image:url(../images/EZicon_search.gif);
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:0px -18px;
	cursor:pointer;
	behavior:	   url("../../style/EZ_ezSelectButton.htc");
}
.ezSelectButtonHover {
	width:23px;
	height:18px;
	float:left; 
	margin:1px 0px 0px -23px;
	background-image:url(../images/EZicon_search.gif);
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:-23px -18px;
	cursor:pointer;
	behavior:	   url("../../style/EZ_ezSelectButton.htc");
}
.ezSelectButtonDown {
	width:23px;
	height:18px;
	float:left; 
	margin:1px 0px 0px -23px;
	background-image:url(../images/EZicon_search.gif);
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:-46px -18px;
	cursor:pointer;
	behavior:	   url("../../style/EZ_ezSelectButton.htc");
}
.ezSelectButtonDisabled {
	width:23px;
	height:18px;
	float:left; 
	margin:1px 0px 0px -23px;
	background-image:url(../images/EZicon_search.gif);
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:-69px -18px;
}
.keyWordsBox {
	border:1px solid #999999; 
	padding:1px 4px;
	color:#999999;
	background-color:#ffffff;  
	width:100%;
	behavior:	   url("../../style/EZ_keyWordsBox.htc");
}
.keyWordsBoxInput {
	border:1px solid #999999; 
	padding:1px 4px;
	background-color:#ffffff;  
	width:100%;
	behavior:	   url("../../style/EZ_keyWordsBox.htc");
}