#vmenu {
	margin: 1px;
	padding: 0px;
	border:blue 0px solid;
	background: #ffffff;
	line-height: normal; 
	list-style-type: none;
	width:157px;
}
#vmenu li {
	BORDER-TOP: #fff 0px solid;

	BACKGROUND-IMAGE: url(../images/navi/06.gif);

	MARGIN: 0px;
	BACKGROUND-REPEAT: no-repeat;
	PADDING-RIGHT: 0px;

	DISPLAY: block;

	PADDING-LEFT: 0px;

	FONT-WEIGHT: normal;

	FONT-SIZE: 12px;

	PADDING-BOTTOM: 0px;


	LINE-HEIGHT: normal;

	PADDING-TOP: 0px;

	BACKGROUND-REPEAT: no-repeat;

	FONT-STYLE: normal;

	HEIGHT: 29px;

	BACKGROUND-COLOR: transparent;

	FONT-VARIANT: normal;
	

	TEXT-DECORATION: none
} 



#vmenu li A {
	height: 29px;
	padding:10px 0px 5px 40px;
	display: inline; 
	font:9pt;
	width:100%;
	text-decoration: none;
	background-color: transparent;
	background-repeat: no-repeat;
	
}
#vmenu li A:link
{
	/*color:#336699;*/
	color:#585858;
}
#vmenu li A:visited
{
	color:#585858;
}
#vmenu li A:active
{
	color:#585858;
}
#vmenu li A:hover { 
	color: red; 	
}

A.headerOpen
{
	BORDER-TOP: #fff 0px solid;

	BACKGROUND-IMAGE: url(../images/navi/05.gif);

	MARGIN: 0px;
	BACKGROUND-REPEAT: no-repeat;
	PADDING-RIGHT: 0px;

	DISPLAY: block;

	PADDING-LEFT: 35px;

	FONT-WEIGHT: bold;

	FONT-SIZE: 12px;

	PADDING-BOTTOM: 5px;

	WIDTH: 100%;


	LINE-HEIGHT: normal;

	PADDING-TOP: 11px;

	BACKGROUND-REPEAT: no-repeat;

	FONT-STYLE: normal;

	HEIGHT: 32px;

	BACKGROUND-COLOR: transparent;

	FONT-VARIANT: normal;

	TEXT-DECORATION: none
}
A.headerOpen:link
{
	color:#00508E;
}
A.headerOpen:visited
{
	color:#00508E;
}
A.headerOpen:active
{
	color:#00508E;
}

A.headerOpen:hover
{
	COLOR: red;
}


.headerClose
{
	BORDER-TOP: #fff 0px solid;

	BACKGROUND-IMAGE: url(../images/navi/04.gif);

	MARGIN: 0px;
	BACKGROUND-REPEAT: no-repeat;
	PADDING-RIGHT: 0px;

	DISPLAY: block;

	PADDING-LEFT: 35px;

	FONT-WEIGHT:bold;

	FONT-SIZE: 12px;

	PADDING-BOTTOM: 5px;

	WIDTH: 100%;

	LINE-HEIGHT: normal;

	PADDING-TOP: 11px;

	BACKGROUND-REPEAT: no-repeat;

	FONT-STYLE: normal;

	HEIGHT: 32px;

	BACKGROUND-COLOR: transparent;

	FONT-VARIANT: normal;

	TEXT-DECORATION: none
}
a.headerClose:link
{
	COLOR: #00508E;
	TEXT-DECORATION: none
}
a.headerClose:visited
{
	COLOR: #00508E;
	TEXT-DECORATION: none
}
a.headerClose:active
{
	COLOR: #00508E;
	TEXT-DECORATION: none
}
a.headerClose:hover
{
	COLOR: red;
	TEXT-DECORATION: none
}


.headerClose1
{
	BORDER-TOP: #fff 0px solid;

	BACKGROUND-IMAGE: url(../images/navi/01.gif);

	MARGIN: 0px;
	BACKGROUND-REPEAT: no-repeat;
	PADDING-RIGHT: 0px;

	DISPLAY: block;

	PADDING-LEFT: 35px;

	FONT-WEIGHT:bold;

	FONT-SIZE: 12px;

	PADDING-BOTTOM: 5px;

	WIDTH: 100%;

	LINE-HEIGHT: normal;

	PADDING-TOP: 11px;

	BACKGROUND-REPEAT: no-repeat;

	FONT-STYLE: normal;

	HEIGHT: 32px;

	BACKGROUND-COLOR: transparent;

	FONT-VARIANT: normal;

	TEXT-DECORATION: none
}
a.headerClose1:link
{
	COLOR: #00508E;
	TEXT-DECORATION: none
}
a.headerClose1:visited
{
	COLOR: #00508E;
	TEXT-DECORATION: none
}
a.headerClose1:active
{
	COLOR: #00508E;
	TEXT-DECORATION: none
}
a.headerClose1:hover
{
	COLOR: red;
	TEXT-DECORATION: none
}

.headerOpen1
{
	BORDER-TOP: #fff 0px solid;

	BACKGROUND-IMAGE: url(../images/navi/07.gif);

	MARGIN: 0px;
	BACKGROUND-REPEAT: no-repeat;
	PADDING-RIGHT: 0px;

	DISPLAY: block;

	PADDING-LEFT: 40px;

	FONT-WEIGHT:bold;

	FONT-SIZE: 12px;

	PADDING-BOTTOM: 5px;

	WIDTH: 100%;

	LINE-HEIGHT: normal;

	PADDING-TOP: 11px;

	BACKGROUND-REPEAT: no-repeat;

	FONT-STYLE: normal;

	HEIGHT: 32px;

	BACKGROUND-COLOR: transparent;

	FONT-VARIANT: normal;

	TEXT-DECORATION: none;
	cursor:default;
}
a.headerOpen1:link
{
	COLOR: #00508E;
	TEXT-DECORATION: none
}
a.headerOpen1:visited
{
	COLOR: #00508E;
	TEXT-DECORATION: none
}
a.headerOpen1:active
{
	COLOR: #00508E;
	TEXT-DECORATION: none
}

#lkFavSet
{
	color:#585858;
	font-weight:normal;
	padding-left:18px;
	font-size:9pt;
}




